<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <i class="material-icons">directions_subway</i>
  <span>MBTA Departures</span>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>Find the next train departure</span>
  </div>

  <!-- Route -->
  <h2>Route</h2>
  <p>Choose a train route:</p>

  <div class="card-container">
    <select name="route" id="route" [(ngModel)]="selectedRoute" class="card" (change)="getStopsAndDirections()">
      <option *ngFor="let route of routeArray" [value]="route.id">{{ route.long_name }}</option>
    </select>
  </div>

  <!-- Stop -->
  <h2>Stop</h2>
  <p>Choose a stop on the selected route:</p>

  <div class="card-container">
    <select name="stop" id="stop" [(ngModel)]="selectedStop" class="card" [disabled]="disableStopAndDirection">
      <option *ngFor="let stop of stopArray" [value]="stop.id">{{ stop.name }}</option>
    </select>
  </div>

  <!-- Direction -->
  <h2>Direction</h2>
  <p>Choose a train direction:</p>

  <div class="card-container">
    <select name="direction" id="direction" [(ngModel)]="selectedDirection" class="card" [disabled]="disableStopAndDirection">
      <option *ngFor="let direction of directionArray" [value]="direction">{{ direction }}</option>
    </select>
  </div>

  <!-- Submit Button -->
  <div class="card-container">
    <button id="submit-button" type="submit" class="card" (click)="onSubmit()">Find Next Departure</button>
  </div>


  <!-- Next Departure -->
  <h2>Next Train Departure</h2>

  <div class="card-container">
    <div class="card card-small">
      <span *ngIf="!!nextDeparture">Departs at {{ nextDeparture }}</span>
    </div>
  </div>

  <!-- Footer -->
  <footer>
      This was found using data from the&nbsp;
      <a href="https://api-v3.mbta.com/" target="_blank" rel="noopener">  MBTA public API</a>
  </footer>

</div>
